body{background-color: #ffffff;margin:0;padding:0;font-size:16px;box-sizing:border-box;color: rgb(50,50,50);}a,li,p,div,ul,nav,span,img,header{-webkit-user-select:none;user-select:none;-webkit-text-size-adjust:none;text-size-adjust:none;outline:0;/* padding: 10px; */}li{list-style:none;border:0}

.singleDemo,.singleDemoCenter,.singleDemoV,.singleDemoVCenter{
    height: 150px;
}

div,p,body{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    font-family: Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
}
body{
    padding: 20px;
    background-color: rgb(140, 209, 255);
}

.singleDemo>div,.singleDemoCenter>div,.singleDemoV>div,.singleDemoVCenter>div{
    height: 150px;
    text-align: center;
}
.s_turnsLists>div,.s_turnsListsV>div{
    background-image: -webkit-linear-gradient(45deg, #CAE1FF, #A1BBFF);
    background-image: -moz-linear-gradient(45deg, #CAE1FF, #A1BBFF);
    background-image: -ms-linear-gradient(45deg, #CAE1FF, #A1BBFF);
    background-image: -o-linear-gradient(45deg, #CAE1FF, #A1BBFF);
    background-image: linear-gradient(45deg, #CAE1FF, #A1BBFF);
}
.picDemo img{
    width: 100%;
    height: 150px;
    border-left: 1px solid #FFF;
}

.picDemo{
    height: 150px;
}
.demo{
    margin-bottom: 50px;
    max-width: 640px;
    margin: 50px auto;
}
.singleDemo>div>div:nth-child(2){
    background-color: #aaaaff;
}
.singleDemo>div>div:nth-child(3){
    background-color: #e1ba53;
}
.sturns_active{
    color:#FFF!important;
    transition: all .4s;
}
.singleDemo p,.singleDemoCenter p,.singleDemoV p,.singleDemoVCenter p{
    line-height: 150px;
    font-size: 38px;
    margin: 0;
}

#prev,#next{
    line-height: 30px;
    border: 1px solid #ace;
    width: 40px;
}
#btns{
    margin: 20px auto;
    text-align: center;
}

.pp{
    width: 15px;
    height: 15px;
    background-color: yellowgreen;
}

.pac{
    background-color: yellow;
}
.activeC{
    background-color: #e1ba53!important;
}
.pos{
    top: 20px;
}

pre{
    background-color: rgb(64,64,64);
    color: #FFF;
    padding: 10px;
    overflow: scroll;
    font-size: 14px;
    text-indent:-2em;
    font-family: Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
}
.spec{
    color: rgb(202,158,77);
}
.string{
    color: rgb(52,174,52);
}
.temp{
    color: rgb(155,194,142);
}
.num{
    color: rgb(250,113,187);
}
h1{
    text-align: center;
    color: #FFF;
    line-height: 70px;
    border-bottom: 1px solid #FFF;
}

.settings,.events,.propertys {
    color: #FFF;
}

.pros {
    padding: 10px;
    border-bottom: 1px solid #FFF;
}